<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>AnakutJob - Freelance Services for Marketplaces for Induviduals and Businesses </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Marketplace for Freelance Business" />
        <meta name="keywords" content="Freelance job, Online marketplace" />
        <!-- Bootstrap -->
        <link href="{{ url_for('static', filename='css/index/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href="{{ url_for('static', filename='css/index/materialdesignicons.min.css')}}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
        <!-- Slider -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index/tiny-slider.css')}}"/>
        <!-- Main Css -->
        <link href="{{ url_for('static', filename='css/index/style.min.css')}}" rel="stylesheet" type="text/css" id="theme-opt" />
        <link href="{{ url_for('static', filename='css/index/default.css')}}" rel="stylesheet" id="color-opt">
    </head>

    <body>
        {% include 'header-public.html' %}
        <!-- Hero Start -->
        <section class="bg-half-260 w-100 hideMobile" style="background: url({{ url_for('static', filename='images/bg-freelancer.png') }}); background-size: auto 100%;">
            <div class="bg-overlay"></div>
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Candidate Detail Start -->
        <section class="section" style="padding: 20 0;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-12">
                        <div class="card job-profile shadow border-0">
                            <div class="text-center py-5 border-bottom rounded-top">
                                <img src="{{ url_for('static', filename="images/"+user.profile_picture) }}" class="avatar avatar-medium mx-auto rounded-circle shadow d-block" alt="">
                                <h5 class="mt-3 mb-0">{{ user.get_full_name() }}</h5>
                                <p class="text-muted mb-0">{{ user.tagline }}</p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Personal Details :</h5>

                                <ul class="list-unstyled">
                                    <li class="h6"><i data-feather="briefcase" class="fea icon-sm text-warning me-3"></i><span class="text-muted">Project Finished :</span> {{ user.total_win() }}</li>
                                    <li class="h6"><i data-feather="clock" class="fea icon-sm text-warning me-3"></i><span class="text-muted">Finished Intime : </span> {{ user.intime() }}%</li>
                                    <li class="h6"><i data-feather="thumbs-up" class="fea icon-sm text-warning me-3"></i><span class="text-muted">Recommended :</span> {{ user.recom() }}%</li>
                                    <li class="h6"><i data-feather="globe" class="fea icon-sm text-warning me-3"></i><span class="text-muted">Country :</span> {{ user.country }}</li>
                                    <li class="h6"><i data-feather="award" class="fea icon-sm text-warning me-3"></i><span class="text-muted">Member Since :</span> {{ user.member_since.strftime("%d %b, %Y") }}</li>
                                    <li>
                                        <ul class="list-unstyled social-icon mb-0 mt-4">
                                          {% if user.facebook %}
                                            <li class="list-inline-item"><a href="https://www.facebook.com/{{user.facebook}}" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                          {% endif %}
                                          {% if user.instagram %}
                                            <li class="list-inline-item"><a href="https://www.instagram.com/{{user.instagram}}" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                          {% endif %}
                                          {% if user.twitter %}
                                            <li class="list-inline-item"><a href="https://www.twitter.com/{{user.twitter}}" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                          {% endif %}
                                          {% if user.linkedin %}
                                            <li class="list-inline-item"><a href="https://www.linkedin.com/{{user.linkedin}}" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                          {% endif %}
                                          {% if user.github %}
                                            <li class="list-inline-item"><a href="https://www.github.com/{{user.github}}" class="rounded"><i data-feather="github" class="fea icon-sm fea-social"></i></a></li>
                                          {% endif %}
                                          {% if user.youtube %}
                                            <li class="list-inline-item"><a href="https://www.youtube.com/{{user.youtube}}" class="rounded"><i data-feather="youtube" class="fea icon-sm fea-social"></i></a></li>
                                          {% endif %}
                                        </ul><!--end icon-->
                                    </li>
                                </ul>
                                <div class="mt-4 pt-2">
                                  {% if current_user.is_authenticated %}
                                    {% if current_user.is_offered(user) %}
                                      <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#HireMe" class="btn btn-success me-2"><i class="uil uil-bag-alt"></i> Hired</a>
                                    {% else %}
                                      <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#HireMe" class="btn btn-primary me-2"><i class="uil uil-bag-alt"></i> Hire me</a>
                                    {% endif %}
                                  {% else %}
                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#HireMe" class="btn btn-primary me-2"><i class="uil uil-bag-alt"></i> Hire me</a>
                                  {% endif %}

                                  {% if current_user.is_authenticated and current_user.is_marked_user(user) %}
                                    <button id="bookmark" data="{{ user.id }}" data-type="1" class="btn btn-outline-primary bookmarked"><i class="uil uil-check"></i> Bookmarked</button>
                                  {% else %}
                                    <button id="bookmark" data="{{ user.id }}" data-type="1" class="btn btn-outline-primary"><i class="uil uil-bookmark"></i> Bookmark</button>
                                  {% endif %}
                                </div>
                            </div>
                            {% for message in get_flashed_messages() %}
                              <div id="message-box">
                                <div id="success_page" style="margin-bottom: 0;">{{ message }}</div>
                              </div>
                      			{% endfor %}
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-8 col-md-7 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="ms-lg-4">
                            <h4>About me :</h4>
                            {{ user.introduction|safe }}
                            <!-- Skills Start -->
                            <div class="container" style="padding-left: 0;">
                                <div class="row">
                                  <ul class="nav nav-pills shadow flex-column flex-sm-row d-md-inline-flex mb-0 p-1 bg-white rounded position-relative overflow-hidden" id="pills-tab" role="tablist">
                                      <li class="nav-item m-1">
                                          <a class="nav-link py-2 px-5 active rounded" id="skills-data" data-bs-toggle="pill" href="#skill" role="tab" aria-controls="skill" aria-selected="false">
                                              <div class="text-center">
                                                  <h6 class="mb-0">Skills</h6>
                                              </div>
                                          </a><!--end nav link-->
                                      </li><!--end nav item-->

                                      <li class="nav-item m-1">
                                          <a class="nav-link py-2 px-5 rounded" id="education-info" data-bs-toggle="pill" href="#education" role="tab" aria-controls="education" aria-selected="false">
                                              <div class="text-center">
                                                  <h6 class="mb-0">Education</h6>
                                              </div>
                                          </a><!--end nav link-->
                                      </li><!--end nav item-->

                                      <li class="nav-item m-1">
                                          <a class="nav-link py-2 px-5 rounded" id="experience-info" data-bs-toggle="pill" href="#experience" role="tab" aria-controls="experience" aria-selected="false">
                                              <div class="text-center">
                                                  <h6 class="mb-0">Experience</h6>
                                              </div>
                                          </a><!--end nav link-->
                                      </li><!--end nav item-->

                                      <li class="nav-item m-1">
                                          <a class="nav-link py-2 px-5 rounded" id="review-comments" data-bs-toggle="pill" href="#review" role="tab" aria-controls="review" aria-selected="false">
                                              <div class="text-center">
                                                  <h6 class="mb-0">Review</h6>
                                              </div>
                                          </a><!--end nav link-->
                                      </li><!--end nav item-->
                                  </ul>
                                  <div class="tab-content" id="pills-tabContent">
                                      <div class="card border-0 tab-pane fade show active" id="skill" role="tabpanel" aria-labelledby="skill-data">
                                        <h4 class="mt-lg-5 mt-4">Skills :</h4>
                                        {% for skill in user.get_all_skills() %}
                                          <div class="progress-box mt-4">
                                              <h6 class="title text-muted">{{ skill }}</h6>
                                              <div class="progress">
                                                  <div class="progress-bar position-relative bg-primary" style="width:{{ skill.level }}%;">
                                                      <div class="progress-value d-block text-muted h6">{{ skill.level }}%</div>
                                                  </div>
                                              </div>
                                          </div><!--end process box-->
                                        {% endfor %}
                                        <!-- Skills End -->
                                      </div>

                                      <div class="card border-0 tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-info">
                                        {% if user.edus() %}
                                          <!-- Education Start -->
                                          <h4 class="mt-lg-5 mt-4">Education</h4>
                                          <div class="row">
                                            {% for edu in user.edus() %}
                                              <div class="col-lg-12 mt-4 pt-2">
                                                <div class="d-flex">
                                                  <div class="company-logo text-muted h6 me-3 text-center">
                                                      <img src="{{ url_for('static', filename='images/campus.svg')}}" class="avatar avatar-md-sm mx-auto d-block mb-2">{{ edu.start_year }}-{{ edu.end_year }}
                                                  </div>
                                                  <div class="flex-1">
                                                      <h5 class="title mb-0">{{ edu.field }}</h5>
                                                      <small class="text-muted company-university">{{ edu.school }}</small>
                                                      <p class="text-muted mt-2 mb-0">{{ edu.description|safe }} </p>
                                                  </div>
                                                </div>
                                              </div><!--end col-->
                                            {% endfor %}
                                          </div><!--end row-->
                                        {% else %}
                                          <div id="message-box" style="padding-top: 20px;">
                                            <div class="error_message">No education record yet!</div>
                                          </div>
                                        {% endif %}

                                        <!-- Education End -->
                                      </div>

                                      <div class="card border-0 tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-info">
                                        {% if user.workexps() %}
                                          <!-- Education Start -->
                                          <h4 class="mt-lg-5 mt-4">Work Experience</h4>
                                          <div class="row">

                                            {% for workexp in user.workexps() %}
                                              <div class="col-lg-12 mt-4 pt-2">
                                                <div class="d-flex">
                                                  <div class="company-logo text-muted h6 me-3 text-center">
                                                      <img src="{{ url_for('static', filename='images/enterprise.svg')}}" class="avatar avatar-md-sm mx-auto d-block mb-2">{{ workexp.start_year }}-{{ workexp.end_year }}
                                                  </div>
                                                  <div class="flex-1">
                                                      <h5 class="title mb-0">{{ workexp.position }}</h5>
                                                      <small class="text-muted company-university">{{ workexp.company }}</small>
                                                      <p class="text-muted mt-2 mb-0">{{ workexp.description|safe }} </p>
                                                  </div>
                                                </div>
                                              </div><!--end col-->
                                            {% endfor %}
                                          </div><!--end row-->
                                        {% else %}
                                          <div id="message-box" style="padding-top: 20px;">
                                            <div class="error_message">No experience record yet!</div>
                                          </div>
                                        {% endif %}
                                        <!-- Education End -->
                                      </div>

                                      <div class="card border-0 tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-comments">
                                          <div class="row">
                                              <div class="col-lg-12">
                                                {% if user.all_reviews() %}
                                                  <ul class="media-list list-unstyled mb-0">
                                                    {% for rv in user.all_reviews() %}
                                                      <li>
                                                          <div class="d-flex justify-content-between">
                                                              <div class="d-flex align-items-center">
                                                                  <a class="pe-3" href="#">
                                                                      <img src="{{ url_for('static', filename="images/"+rv.reviewed_emp.profile_picture) }}" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                                  </a>
                                                                  <div class="flex-1 commentor-detail">
                                                                      <h6 class="mb-0"><a href="#" class="media-heading text-dark">{{ rv.reviewed_emp }}</a></h6>
                                                                      <small class="text-muted">{{ rv.reviewed.time_posted.strftime("%d %b, %Y")}}</small>
                                                                  </div>
                                                              </div>
                                                              <ul class="list-unstyled mb-0">
                                                                {% for i in range(5) %}
                                                                  {% if loop.index <= rv.rating %}
                                                                    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                                                  {% else %}
                                                                    <li class="list-inline-item"><i class="mdi mdi-star-outline text-warning"></i></li>
                                                                  {% endif %}
                                                                {% endfor %}
                                                              </ul>
                                                          </div>
                                                          <div class="mt-3">
                                                              <p class="text-muted fst-italic p-3 bg-light rounded mb-0">" {{ rv }} "</p>
                                                          </div>
                                                      </li>
                                                    {% endfor %}
                                                  </ul>
                                                {% else %}
                                                  <div id="message-box" style="padding-top: 20px;">
                                                    <div class="error_message">No reviews yet!</div>
                                                  </div>
                                                {% endif %}
                                              </div><!--end col-->
                                          </div><!--end row-->
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--enn row-->
            </div><!--end container-->
        </section><!--end section-->

        <!-- Modal Content Start -->
        {% if current_user.is_authenticated %}
          <div class="modal fade" id="HireMe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              {% if current_user.is_offered(user) %}
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content rounded shadow-lg border-0 overflow-hidden">
                        <div class="modal-body py-5">
                            <div class="text-center">
                                <div class="icon d-flex align-items-center justify-content-center bg-soft-success rounded-circle mx-auto" style="height: 95px; width:95px;">
                                    <h1 class="mb-0"><i class="uil uil-check-circle align-middle"></i></h1>
                                </div>
                                <div class="mt-4">
                                    <h4>You allready offred this user!</h4>
                                    <p class="text-muted">Browse more freelancer...</p>
                                    <div class="mt-4">
                                        <a href="{{ url_for('public.browseFreelancers') }}" class="btn btn-outline-primary">Browse Freelancers</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              {% else %}
                {% if user == current_user %}
                  <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content rounded shadow-lg border-0 overflow-hidden">
                          <div class="modal-body py-5">
                              <div class="text-center">
                                  <div class="icon d-flex align-items-center justify-content-center bg-soft-danger rounded-circle mx-auto" style="height: 95px; width:95px;">
                                      <h1 class="mb-0"><i class="uil uil-smile-beam align-middle"></i></h1>
                                  </div>
                                  <div class="mt-4">
                                      <h4>This is your page. You can't offer yourself!</h4>
                                      <p class="text-muted">But you can offer other freelancers</p>
                                      <div class="mt-4">
                                          <a href="{{ url_for('public.browseFreelancers') }}" class="btn btn-outline-primary">Browse Freelancers</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                {% else %}
                  <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content rounded shadow border-0">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalCenterTitle">Offer Job </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body p-4">
                              <div class="custom-form mt-3">
                                <form id="offerForm" method="post" action="{{ url_for('public.freelancer', user_id= user.id) }}" enctype="multipart/form-data">
                                  <input type='hidden' name="csrf_token" id="csrf_token" value="{{ csrf_token() }}"/>
                                  <div class="row" id="formField">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Subject <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="tag" class="fea icon-sm icons"></i>
                                                <input id="subject" name="subject" type="text" class="form-control ps-5" placeholder="Subject" required maxlength="100" minlength="5">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Message <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="message-circle" class="fea icon-sm icons clearfix"></i>
                                                <textarea id="offerMessage" name="offerMessage" rows="4" class="form-control ps-5" placeholder="Message :" required maxlength="500" minlength="15"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                      <div class="mb-3">
                                        <label for="formFile" class="form-label">Choose Project :<span class="text-danger">*</span></label>
                                        <select class="form-control custom-select" id="offeredTask" name="offeredTask" required>
                                          {% if current_user.all_tasks() %}
                                            {% for task in current_user.all_tasks() %}
                                              <option value="{{ task.id }}">{{ task }}</option>
                                            {% endfor %}
                                          {% else %}
                                            <option disabled value="">Select Project</option>
                                          {% endif %}
                                        </select>
                                      </div>
                                    </div>

                                    <div class="col-md-12">
                                      <div class="mb-3">
                                        <label for="formFile" class="form-label">Upload file :</label>
                                        <input class="form-control" type="file" id="formFile" name="formFile" accept=".pdf, .doc, .docx">
                                      </div>
                                    </div>

                                  </div>
                                  <div class="row">
                                      <div class="col-12">
                                          <div class="d-grid">
                                              <button type="submit" id="submitOfferButton" class="btn btn-primary">Send Offer</button>
                                          </div>
                                      </div><!--end col-->
                                  </div><!--end row-->
                                </form>
                              </div><!--end custom-form-->
                          </div>
                      </div>
                  </div>
                {% endif %}
              {% endif %}
          </div>
        {% else %}
          <div class="modal fade" id="HireMe" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content rounded shadow-lg border-0 overflow-hidden">
                    <div class="modal-body py-5">
                        <div class="text-center">
                            <div class="icon d-flex align-items-center justify-content-center bg-soft-danger rounded-circle mx-auto" style="height: 95px; width:95px;">
                                <h1 class="mb-0"><i class="uil uil-heart-break align-middle"></i></h1>
                            </div>
                            <div class="mt-4">
                                <h4>Please sign up to offer!</h4>
                                <p class="text-muted">Create an account.</p>
                                <div class="mt-4">
                                    <a href="{{ url_for('account.signup') }}" class="btn btn-outline-primary">Create Account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        {% endif %}
        <!-- Modal Content End -->

        {% include 'footer.html' %}

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
        <!-- Back to top -->

        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/index/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/index/tiny-slider.js')}}"></script>
        <!-- tobii js -->
        <!-- Icons -->
        <script src="{{ url_for('static', filename='js/index/feather.min.js')}}"></script>
        <!-- Main Js -->
        <script src="{{ url_for('static', filename='js/index/plugins.init.js')}}"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
        <script src="{{ url_for('static', filename='js/index/app.js')}}"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
        <script src="{{ url_for('static', filename='js/index/index.js')}}"></script>

    </body>
</html>
