<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>AnakutJob - Manage Bidders</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/static/css/style.css?u={{ last_updated }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors/blue.css') }}">

</head>
<body class="gray">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
{% include 'header.html' %}
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Dashboard Container -->
<div class="dashboard-container">

	<!-- Dashboard Sidebar
	================================================== -->
	{% include 'sidebar.html' %}
	<!-- Dashboard Sidebar / End -->


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Manage Bidders</h3>
				<span class="margin-top-7">Bids for <a href="{{ url_for('public.task_page', task_url=task.generate_task_link()) }}">{{ task }}</a></span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{{ url_for('public.index') }}">Home</a></li>
						<li><a href="{{ url_for('manage.dashboard') }}">Dashboard</a></li>
						<li>Manage Bidders</li>
					</ul>
				</nav>
			</div>

			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-supervisor-account"></i>{{ task.num_bids }} Bids</h3>
							<div class="sort-by">
								<select class="selectpicker hide-tick">
									<option selected>Recent</option>
									<option>Highest</option>
									<option>Lowest</option>
								</select>
							</div>
						</div>

						<div class="content">
							<ul class="dashboard-box-list">
								{% if winner_bid %}
									<li>
										<!-- Overview -->
										<div class="freelancer-overview manage-candidates">
											<div class="freelancer-overview-inner">

												<!-- Avatar -->
												<div class="freelancer-avatar">
													<div class="verified-badge"></div>
													<a href="{{ url_for('public.freelancer', user_id=winner_bid.bidder.id) }}"><img src="{{ url_for('static', filename='images/'+winner_bid.bidder.profile_picture) }}" alt=""></a>
												</div>

												<!-- Name -->
												<div class="freelancer-name">
													<h4><a href="{{ url_for('public.freelancer', user_id=winner_bid.bidder.id) }}">{{ winner_bid.bidder }}</a></h4>

													<!-- Details -->
													<span class="freelancer-detail-item"><i class="icon-feather-mail"></i> {{ winner_bid.bidder.email }}</a></span>

													<!-- Rating -->
													<div class="freelancer-rating">
														{% if winner_bid.bidder.rating == 0 %}
															<span class="company-not-rated">No reviews yet</span>
														{% else %}
															<div class="star-rating" data-rating="{{ winner_bid.bidder.rating }}"></div>
														{% endif %}
													</div>

													<!-- Bid Details -->
													<ul class="dashboard-task-info bid-info">
														<li><strong>{{ winner_bid.bid_amount }} $</strong><span>Bid Amount</span></li>
														<li><strong>{{ winner_bid.num_delivery }} {{ winner_bid.type_delivery }}</strong><span>Finish Time</span></li>
													</ul>

													<!-- Buttons -->
													<div class="buttons-to-right always-visible margin-top-25 margin-bottom-0">
														<a class="popup-with-zoom-anim button ripple-effect winner" style="background: green; color: white;"><i class="icon-material-outline-check"></i> Winner</a>
														<a href="#small-dialog-2" name="sendMessage" data="{{ winner_bid.bidder.id }}" class="popup-with-zoom-anim button dark ripple-effect"><i class="icon-feather-mail"></i> Send Message</a>
														<a href="#small-dialog" name="getmessage" data="b_{{ winner_bid.id }}" class="popup-with-zoom-anim button dark ripple-effect ico" title="See Message" data-tippy-placement="top"><i class="icon-material-baseline-mail-outline"></i></a>
													</div>
												</div>
											</div>
										</div>
									</li>
								{% endif %}
								{% for bid in bids %}
									{% if bid != winner_bid %}
										<li>
											<!-- Overview -->
											<div class="freelancer-overview manage-candidates">
												<div class="freelancer-overview-inner">

													<!-- Avatar -->
													<div class="freelancer-avatar">
														<div class="verified-badge"></div>
														<a href="{{ url_for('public.freelancer', user_id=bid.bidder.id) }}"><img src="{{ url_for('static', filename='images/'+bid.bidder.profile_picture) }}" alt=""></a>
													</div>

													<!-- Name -->
													<div class="freelancer-name">
														<h4><a href="{{ url_for('public.freelancer', user_id=bid.bidder.id) }}">{{ bid.bidder.get_full_name() }}</a></h4>

														<!-- Details -->
														<span class="freelancer-detail-item"><i class="icon-feather-mail"></i> {{ bid.bidder.email }}</a></span>

														<!-- Rating -->
														<div class="freelancer-rating">
															{% if bid.bidder.rating == 0 %}
																<span class="company-not-rated">No reviews yet</span>
															{% else %}
																<div class="star-rating" data-rating="{{ bid.bidder.rating }}"></div>
															{% endif %}
														</div>

														<!-- Bid Details -->
														<ul class="dashboard-task-info bid-info">
															<li><strong>{{ bid.bid_amount }} $</strong><span>Bid Amount</span></li>
															<li><strong>{{ bid.num_delivery }} {{ bid.type_delivery }}</strong><span>Finish Time</span></li>
														</ul>

														<!-- Buttons -->
														<div class="buttons-to-right always-visible margin-top-25 margin-bottom-0">
															{% if not winner_bid %}
																<a href="#small-dialog-1"  name="acceptBid" data="{{ bid.id }}" class="popup-with-zoom-anim button ripple-effect"><i class="icon-material-outline-check"></i> Accept</a>
															{% endif %}
															<a href="#small-dialog-2" name="sendMessage" data="{{ bid.bidder.id }}" class="popup-with-zoom-anim button dark ripple-effect"><i class="icon-feather-mail"></i> Send Message</a>
															<a href="#small-dialog" name="getmessage" data="b_{{ bid.id }}" class="popup-with-zoom-anim button dark ripple-effect ico" title="See Message" data-tippy-placement="top"><i class="icon-material-baseline-mail-outline"></i></a>
															<a href="#" class="button gray ripple-effect ico" title="Delete Bid" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
														</div>
													</div>
												</div>
											</div>
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- Row / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2021 <strong>Jobby</strong>. All Rights Reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->

</div>
<!-- Wrapper / End -->


<!-- Bid Acceptance Popup
================================================== -->
<div id="small-dialog-1" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab1">Accept Bid</a></li>
		</ul>

		<div id="result" class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3 id="bidder"></h3>
					<div id="bid_amount" class="bid-acceptance margin-top-15"></div>
				</div>

				<!-- Button -->
				<button id="acceptButton" class="margin-top-15 button full-width button-sliding-icon ripple-effect" type="submit" form="terms">Accept <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
</div>
<!-- Bid Acceptance Popup / End -->


<!-- Send Direct Message Popup
================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab">Bid Message</a></li>
		</ul>
		<div class="popup-tabs-container">
			<div class="popup-tab-content" id="preMessage" style="text-align: center;">Getting message...</div>
		</div>
	</div>
</div>
<div id="small-dialog-2" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab2">Send Message</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab2">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3 id="msgResult"></h3>
				</div>
				<p id="errorBody"></p>
				<div id="formData">
					<textarea id="body" cols="10" placeholder="Message" class="with-border" required></textarea>
					<button id="sendButton" class="button full-width button-sliding-icon ripple-effect" type="submit" form="send-pm">Send <i class="icon-material-outline-arrow-right-alt"></i></button>
				</div>

			</div>

		</div>
	</div>
</div>
<!-- Send Direct Message Popup / End -->

<!-- Scripts
================================================== -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/mmenu.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/tippy.all.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/simplebar.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-slider.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/snackbar.js')}}"></script>
<script src="{{ url_for('static', filename='js/clipboard.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/counterup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/magnific-popup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/custom.js')}}"></script>
<script src="{{ url_for('static', filename='js/getMessage.js')}}"></script>
<script src="{{ url_for('static', filename='js/acceptBid.js')}}"></script>
<script src="{{ url_for('static', filename='js/instantMessaging.js')}}"></script>
<script src="{{ url_for('static', filename='js/socket.io.min.js')}}"></script>

</body>
</html>
