<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>AnakutJob - Messages</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/static/css/style.css?u={{ last_updated }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors/blue.css') }}">

</head>
<body class="gray">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
{% include 'header.html' %}
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Dashboard Container -->
<div class="dashboard-container">

	<!-- Dashboard Sidebar
	================================================== -->
  {% include 'sidebar.html' %}
	<!-- Dashboard Sidebar / End -->


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Messages</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{{ url_for('public.index') }}">Home</a></li>
						<li><a href="{{ url_for('manage.dashboard') }}">Dashboard</a></li>
						<li>Messages</li>
					</ul>
				</nav>
			</div>

				<div class="messages-container margin-top-0">

					<div class="messages-container-inner">

						<!-- Messages -->
						<div class="messages-inbox">
							<div class="messages-headline">
								<div class="input-with-icon">
										<input id="autocomplete-input" type="text" placeholder="Search">
									<i class="icon-material-outline-search"></i>
								</div>
							</div>

							<ul>
                {% for i in c %}
								<li name="persons" data="{{ i.id }}">
									<a>
										<div class="message-avatar"><i class="status-icon status-online"></i><img src="{{ url_for('static', filename='images/'+i.profile_picture) }}" alt="" /></div>
										<div class="message-by">
											<div class="message-by-headline">
												<h5>{{ i }}</h5>
												<!-- <span>4 hours ago</span> -->
											</div>
											<!-- <p>Buraya son gönderilen mesaj gelecek</p> -->
										</div>
									</a>
								</li>
                {% endfor %}

							</ul>
						</div>
						<!-- Messages / End -->

						<!-- Message Content -->
						<div class="message-content">

							<div class="messages-headline">
								<h4 id="recipient_name"></h4>
								<a href="#" class="message-action"><i class="icon-feather-trash-2"></i> Delete Conversations</a>
							</div>

							<!-- Message Content Inner -->
							<div id="parent" class="message-content-inner">

							</div>
							<!-- Message Content Inner / End -->

							<!-- Reply Area -->
							<div class="message-reply">
								<textarea id="messageArea" cols="1" rows="1" placeholder="Your message" data-autoresize></textarea>
								<button id="sendMsg"class="button ripple-effect">Send</button>
							</div>

						</div>
						<!-- Message Content -->

					</div>
			</div>
			<!-- Messages Container / End -->




			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2021 <strong>Jobby</strong>. All rights reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->

</div>
<!-- Wrapper / End -->

<!-- Scripts
================================================== -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/mmenu.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/tippy.all.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/simplebar.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-slider.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/snackbar.js')}}"></script>
<script src="{{ url_for('static', filename='js/clipboard.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/counterup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/magnific-popup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/custom.js')}}"></script>
<script src="{{ url_for('static', filename='js/getMessage.js')}}"></script>
<script type="text/javascript" src="/static/js/instantMessaging.js?u={{ last_updated }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.min.js')}}"></script>

</body>
</html>
