<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>AnakutJob- Post a Project</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/style.css?u={{ last_updated }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors/blue.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="gray">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
{% include 'header.html' %}
<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Dashboard Container -->
<div class="dashboard-container">

	<!-- Dashboard Sidebar
	================================================== -->
	{% include 'sidebar.html' %}
	<!-- Dashboard Sidebar / End -->


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container">
		<div class="dashboard-content-inner" >

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Post a Project</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{{ url_for('public.index') }}">Home</a></li>
						<li><a href="{{ url_for('manage.dashboard') }}">Dashboard</a></li>
						<li>Post a Project</li>
					</ul>
				</nav>
			</div>

			<form id='post_task'>
				<input type='hidden' id="csrf_token" value="{{ csrf_token() }}"/>
				<div class="row">

					<!-- Dashboard Box -->
					<div class="col-xl-12">
						<div class="dashboard-box margin-top-0">

							<!-- Headline -->
							<div class="headline">
								<h3><i class="icon-feather-folder-plus"></i> Project Form</h3>
							</div>
							{% for message in get_flashed_messages() %}
								<div class="notification error closeable">
									<p>{{ message }}</p>
									<a class="close" href="#"></a>
								</div>
							{% endfor %}
							<div class="content with-padding padding-bottom-10" id="content">

								<div class="row">

									<div class="col-xl-4">
										<div class="submit-field">
											<h5>Project Name</h5>
											<input type="text" id="project_name" class="with-border" placeholder="ex. i need a blog website" required>
										</div>
									</div>

									<div class="col-xl-4">
										<div class="submit-field">
											<h5>Category</h5>
											<select id="category" class="selectpicker with-border" data-size="7" title="Choose a Category" data-live-search="true" required>
												<option value="1">Programming</option>
												<option value="2">Writing</option>
												<option value="3">Graphics Design</option>
												<option value="4">Digital Marketing</option>
												<option value="5">Data Science</option>
												<option value="6">Video & Animation</option>
												<option value="7">Lifestyle</option>
												<option value="8">Finance</option>
												<option value="9">Other</option>
											</select>
										</div>
									</div>

									<div class="col-xl-4">
										<div class="submit-field">
											<h5>Location</h5>
											<select id="location" class="selectpicker with-border" data-size="7" title="Select Location" data-live-search="true" required>
											</select>
										</div>
									</div>

									<div class="col-xl-6">
										<div class="submit-field">
											<h5>Estimated Project Budget</h5>
											<div class="row">
												<div class="col">
													<div class="input-with-icon">
														<input class="with-border" type="number" id="budget_min" min="10" step="10" placeholder="Minimum" value="">
														<i class="currency">USD</i>
													</div>
												</div>
												<div class="col">
													<div class="input-with-icon">
														<input class="with-border" type="number" id="budget_max" min="10" step="10" max="100000" placeholder="Maximum" value="">
														<i class="currency">USD</i>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-6">
										<div class="submit-field">
											<h5>What skills are required? <i class="help-icon" data-tippy-placement="right" data-tippy="" data-original-title="Up to 5 skills that best describe your project"></i></h5>
											<div class="keywords-container">
												<div class="keyword-input-container">
													<input type="text" class="keyword-input with-border" placeholder="Add Skills">
													<button type="button" class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
												</div>
												<div class="keywords-list"><!-- keywords go here --></div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>

									<div class="col-xl-12">
										<div class="submit-field">
											<h5>Describe your project<i class="help-icon" data-tippy-placement="right" title="Projeniz hakkında en az 30 karakterlik açıklama yapın"></i></h5>
										</div>
										<div class="submit-field" id="toolbar"></div>
										<div class="submit-field" id="editor"></div>
									  <input type='hidden' id="description" value=""/>
										<div class="uploadButton margin-top-30">
											<input class="uploadButton-input" type="file" accept=".png, .jpg, .jpeg" id="upload">
											<label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
											<span class="uploadButton-file-name">Image for display purpose. Allowed jpeg, png, jpg</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-12">
						<button type="button" class="button ripple-effect big margin-top-30" id="send_post"> Post Project</button>
					</div>
				</div>
			</form>

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2021 <strong>Jobby</strong>. All rights reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/mmenu.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/tippy.all.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/simplebar.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-slider.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/snackbar.js')}}"></script>
<script src="{{ url_for('static', filename='js/clipboard.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/counterup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/magnific-popup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/custom.js')}}"></script>
<script src="{{ url_for('static', filename='js/ValidateTaskPost.js')}}"></script>
<script src="{{ url_for('static', filename='js/populateSelect.js')}}"></script>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() {
	Snackbar.show({
		text: 'Statunuz değiştirildi!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	});
});
</script>

<script>

$('#post_task').on('keyup keypress', function(e){
	var keyCode = e.keyCode || e.which;
	if (keyCode == 13) {
		e.preventDefault();
		return false;
	}
});

</script>

<script>

	var toolbarOptions = [
		['bold', 'italic', 'underline'],
		[{'list': 'ordered'}, {'list': 'bullet'}]
	];

  var quill = new Quill('#editor', {
    theme: 'snow',
		modules: {
			toolbar: toolbarOptions
		}
  });
</script>

</body>
</html>
